<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Noto sans KR폰트 -->
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

     <!-- 공통 CSS 임포트 -->
     <link rel="stylesheet" href="/resource/style/common.css">

     <!-- Practice CSS 임포트 -->
     <link rel="stylesheet" href="/resource/style/practice.css">
</head>
<body class="iframe-root">
    <main class="contents-wrap">
        <section class="contents-container">
            <div class="title-wrap">
                <h1>Practice</h1>
            </div>

            <h2>Calculator</h2>


        </section>
    </main>
</body>
</html>